.news-key-visual {
  padding-top: 50px;
  width: 100%;
  background: linear-gradient(90deg, #f1f1e8, #f3e5a7, #f0efb2);
}

.news-key-visual .main-ttl {
  font-size: 3.2rem;
  letter-spacing: 3px;
  padding-bottom: 2px;
  display: inline-block;
  text-align: center;
  margin: 95px 0 60px;
  text-shadow: 5px 5px 1px #cfcccc;
  text-shadow: none;
  padding-bottom: 30px;
  padding-left: 30px;
}

.main .inner {
  margin: 0 20px;
}

.main .inner .news-nav {
  margin: 20px 0;
}

.main .inner .news-nav li {
  display: inline-block;
}

.main .inner .news-nav li a {
  color: #525252;
  font-size: 2.0rem;
  margin-right: 10px;
  text-decoration: none;
}

.main .inner .fa-angle-right {
  color: #525252;
  font-size: 1.8rem;
  margin-right: 10px;
  color: #525252;
  font-size: 2.0rem;
  margin-right: 10px;
  text-decoration: none;
}

.main .inner .news-list {
  padding: 30px 0;
}

.main .inner .news-list .news {
  width: 98%;
  border-top: 1px solid #525252;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  padding: 20px 10px;
  color: #525252;
}

.main .inner .news-list .news .news-top .date {
  display: block;
  font-size: 1.8rem;
}

.main .inner .news-list .news .news-bottom {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.main .inner .news-list .news .news-bottom .category-news {
  background-color: skyblue;
  padding: 4px;
  color: #525252;
  margin-right: 18px;
  border-radius: 5px;
  font-size: 16px;
}

.main .inner .news-list .news .news-bottom .category-topic {
  background-color: #f05e59;
  padding: 4px;
  color: #525252;
  margin-right: 18px;
  border-radius: 5px;
  font-size: 16px;
}

.main .inner .news-list .news .news-bottom .title {
  font-size: 1.4rem;
}

.main .inner .page-list {
  margin: 20px 0 50px 0;
  text-align: center;
}

.main .inner .page-list span {
  padding: 10px 16px;
  border-radius: 3px;
  border: 1px solid #525252;
  background-color: #fff;
  font-size: 13px;
}

.main .inner .page-list span .fa-angle-right {
  font-size: 13px;
  margin-right: 0;
}

@media screen and (min-width: 900px) {
  .news-key-visual .inner {
    max-width: 1150px;
    margin: 0 auto;
  }
  .main .inner {
    max-width: 1150px;
    margin: 0 auto;
  }
}
