.contact-wrapper {
  margin: 0 20px;
}

.contact-wrapper .contact-ttl {
  width: 100%;
  text-align: center;
}

.contact-wrapper .contact-ttl .main-ttl {
  font-size: 3.2rem;
  letter-spacing: 3px;
  padding-bottom: 2px;
  display: inline-block;
  text-align: center;
  margin: 95px 0 60px;
  text-shadow: 5px 5px 1px #cfcccc;
}

.contact-wrapper .label {
  font-size: 1.8rem;
  display: block;
  width: 100%;
  margin-bottom: 18px;
}

.contact-wrapper .label .input {
  width: 94%;
  padding: 10px;
}

.contact-wrapper .label .contact-name {
  display: inline-block;
  width: 110px;
  letter-spacing: 2px;
  margin-bottom: 8px;
}

.contact-wrapper .message {
  display: inline-block;
  width: 110px;
  letter-spacing: 2px;
  margin-bottom: 8px;
  font-size: 1.8rem;
}

.contact-wrapper textarea {
  width: 97%;
  height: 80px;
  margin-bottom: 30px;
}

.contact-wrapper .contact-btn {
  text-align: center;
  margin-bottom: 30px;
}

.contact-wrapper .contact-btn .btn {
  display: inline-block;
  width: 250px;
  border-radius: 25px;
  padding: 17px 0;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  background-color: #c67978;
  transition: .8s;
  border-radius: 2px;
}

.contact-wrapper .contact-btn .btn:hover {
  background-color: #fff;
  border: 1px solid #c67978;
  color: #c67978;
}

@media screen and (min-width: 900px) {
  .contact-wrapper {
    max-width: 1150px;
    margin: 0 auto;
    width: 700px;
    margin-bottom: 100px;
  }
  .contact-wrapper .btn {
    margin-top: 50px;
  }
}
