@charset "UTF-8";
@import "_mixin.scss";

.header {
  background-color: rgba(107, 128, 133, 0.9);
  height: 80px;
  padding: 0 20px;
  position: relative;
  position: fixed;
  z-index: 100;
  width: 100%;

  .inner {
    margin-left: -20px;

    .header-logo {
      a {
        font-size: 3.0rem;
        color: $white;
        height: 80px;
        line-height: 80px;
        text-decoration: none;
        margin-left: 20px;
      }
    }

    .fa-bars {
      position: absolute;
      right: 60px;
      top: 25px;
      font-size: 30px;
      color: $white;
    }

    .nav-pc {
      display: none;
    }

    .nav-sp {
      // height: 100vw;

      li {
        width: 100%;
        background-color: rgba(165, 208, 236, 0.8);
        text-align: center;
        font-size: 1.8rem;

        a {
          color: $white;
          text-decoration: none;
          display: inline-block;
          width: 100%;
          padding: 16px 0;
        }

        a:hover {
          background-color: rgb(122, 200, 252);
          // color: $blue;

        }
      }
    }
  }
}

@include tb {
  .header {
    .inner {
      display: flex;
      justify-content: space-between;
      @include inner;

      .header-logo {
        a {
          font-size: 4.0rem;
        }
      }

      .nav-pc {
        display: block;
        display: flex;

        .fa-bars {
          display: none;
        }

        .header-nav {
          display: block;
          line-height: 80px;
          height: 80px;

          li {
            display: inline-block;
            padding: 0 20px;

            a {
              text-decoration: none;
              color: #fff;
              font-size: 2.0rem;
              line-height: 80px;
              height: 80px;
              display: inline-block;
            }

            a:hover {
              opacity: 0.7;
            }
          }
        }

        a {
          @include fa-a;

          .fa-instagram {
            @include fa($pink);
            align-self: center;
          }
        }

        a:hover {
          opacity: 0.7;
        }

        a {
          @include fa-a;

          .fa-twitter {
            @include fa($blue);
            align-self: center;
          }
        }

        a:hover {
          opacity: 0.7;
        }
      }

      .nav-sp {
        display: none;
      }
    }
  }
}