.header {
  background-color: rgba(107, 128, 133, 0.9);
  height: 80px;
  padding: 0 20px;
  position: relative;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.header .header-logo {
  font-size: 4.0rem;
  color: #fff;
  height: 80px;
  line-height: 80px;
}

.header nav .fa-bars {
  position: absolute;
  right: 60px;
  top: 25px;
  font-size: 30px;
  color: #fff;
}

.header nav .header-nav {
  display: none;
}

@media screen and (min-width: 900px) {
  .header .inner {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: 0 auto;
  }
  .header .inner nav .fa-bars {
    display: none;
  }
  .header .inner nav .header-nav {
    display: block;
    line-height: 80px;
    height: 80px;
  }
  .header .inner nav .header-nav li {
    display: inline-block;
    padding: 0 20px;
  }
  .header .inner nav .header-nav li a {
    text-decoration: none;
    color: #fff;
    font-size: 2.0rem;
    line-height: 80px;
    height: 80px;
    display: inline-block;
  }
  .header .inner nav .header-nav li a:hover {
    opacity: 0.7;
  }
  .header .inner nav .header-nav .fa-instagram {
    font-size: 28px;
    margin-right: 17px;
    color: pink;
  }
  .header .inner nav .header-nav .fa-twitter {
    font-size: 28px;
    margin-right: 17px;
    color: skyblue;
  }
}
