@charset "UTF-8";

$font-color:#525252;
$white:#fff;

@mixin inner {
  max-width: 1150px;
  margin: 0 auto;
}

@mixin fz($size: 16) {
  font-size: ($size / 10) + rem;
}

@mixin btn {
  display: inline-block;
  width: 250px;
  border-radius: 25px;
  padding: 17px 0;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  background-color: tomato;
}


@mixin main-ttl {
  font-size: 2.8rem;
  letter-spacing: 3px;
  border-bottom: 1px solid;
  padding-bottom: 2px;
  display: inline-block;
  text-align: center;
  margin: 95px 0 60px;
}

@mixin sec_text {
  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: 2px;
  // font-family: "Noto Sans JP", sans-serif;

}




@mixin pc {
  @media screen and (min-width:1200px) {
    @content;
  }
}

@mixin tb {
  @media screen and (min-width:900px) {
    @content;
  }
}

@mixin sp {
  @media screen and (min-width:640px) {
    @content;
  }
}