@charset "UTF-8";
@import "_mixin.scss";

.news-key-visual {
  @include key-visual;

  .main-ttl {
    @include main-ttl;
    text-shadow: none;
    // padding-bottom: 20px;
    padding-left: 30px;
  }
}

.main {
  .inner {
    margin: 0 20px;

    .news-nav {
      margin: 20px;

      li {
        display: inline-block;

        a {
          @include news-nav;
        }
        a:hover{
          opacity: 0.7;
        }

        .fa-angle-right {
          @include fa-angle-right;
        }
      }
    }

    .article {
      // background-color: rgb(240, 241, 177);
      margin: 0 20px;
      margin-bottom: 40px;

      .date-flex {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        .date {
          display: block;
          font-size: 1.6rem;
          margin-bottom: 8px;
        }

        .category-news {
          @include category($blue);
          display: inline-block;
          width: 44px
        }

        .category-topic {
          @include category($red);
          display: inline-block;
          width: 44px
        }
      }

      .main-ttl {
        font-size: 2.4rem;
        line-height: 3.8rem;
        letter-spacing: 3px;
        font-weight: normal;
      }

      .main-text {
        @include sec_text;
        margin-bottom: 14px
      }
    }
  }
}

@include tb {
  .news-key-visual {
    .inner {
      @include inner;
    }
  }

  .main {
    .inner {
      @include inner;

      .article {
          padding: 20px;
        .date-flex {
          flex-direction: row;
          align-items: baseline;

          .category {
            // align-items: center;
            margin-left: 20px;
          }
        }
      }
    }
  }
}