.works-wrapper {
  margin: 0 20px;
  text-align: center;
}

.works-wrapper .main-ttl {
  font-size: 2.8rem;
  letter-spacing: 3px;
  border-bottom: 1px solid;
  padding-bottom: 2px;
  display: inline-block;
  text-align: center;
  margin: 95px 0 60px;
}

.works-wrapper .works_section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.works-wrapper .works_section .works-sec {
  background-color: #fff;
  box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.3);
  margin: 20px 0;
  padding: 20px;
}

.works-wrapper .works_section .works-sec .work-img {
  width: 100%;
}

.works-wrapper .works_section .works-sec .sub-ttl {
  font-size: 2.6rem;
  text-align: left;
  margin: 20px 0;
  font-weight: normal;
}

.works-wrapper .sec_text {
  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: 2px;
}

@media screen and (min-width: 900px) {
  .works-wrapper {
    max-width: 1150px;
    margin: 0 auto;
  }
  .works-wrapper .works_section {
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: unset;
    width: 100%;
    margin-bottom: 50px;
  }
  .works-wrapper .works_section .works-sec {
    width: 28%;
  }
}
