/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  color: #525252;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
}

p {
  font-size: 1.8rem;
}

/* END Reset css*/
.header {
  background-color: rgba(107, 128, 133, 0.9);
  height: 80px;
  padding: 0 20px;
  position: relative;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.header .inner {
  margin-left: -20px;
}

.header .inner .header-logo a {
  font-size: 3.0rem;
  color: #fff;
  height: 80px;
  line-height: 80px;
  text-decoration: none;
  margin-left: 20px;
}

.header .inner .fa-bars {
  position: absolute;
  right: 60px;
  top: 25px;
  font-size: 30px;
  color: #fff;
}

.header .inner .nav-pc {
  display: none;
}

.header .inner .nav-sp {
  height: 100vw;
}

.header .inner .nav-sp li {
  width: 100%;
  background-color: rgba(165, 208, 236, 0.8);
  text-align: center;
  font-size: 1.8rem;
}

.header .inner .nav-sp li a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  padding: 16px 0;
}

.header .inner .nav-sp li a:hover {
  background-color: #7ac8fc;
}

@media screen and (min-width: 900px) {
  .header .inner {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: 0 auto;
  }
  .header .inner .header-logo a {
    font-size: 4.0rem;
  }
  .header .inner .nav-pc {
    display: block;
    display: flex;
  }
  .header .inner .nav-pc .fa-bars {
    display: none;
  }
  .header .inner .nav-pc .header-nav {
    display: block;
    line-height: 80px;
    height: 80px;
  }
  .header .inner .nav-pc .header-nav li {
    display: inline-block;
    padding: 0 20px;
  }
  .header .inner .nav-pc .header-nav li a {
    text-decoration: none;
    color: #fff;
    font-size: 2.0rem;
    line-height: 80px;
    height: 80px;
    display: inline-block;
  }
  .header .inner .nav-pc .header-nav li a:hover {
    opacity: 0.7;
  }
  .header .inner .nav-pc a {
    line-height: 92px;
    height: 80px;
  }
  .header .inner .nav-pc a .fa-instagram {
    font-size: 28px;
    padding: 0 16px;
    color: pink;
    align-self: center;
  }
  .header .inner .nav-pc a:hover {
    opacity: 0.7;
  }
  .header .inner .nav-pc a {
    line-height: 92px;
    height: 80px;
  }
  .header .inner .nav-pc a .fa-twitter {
    font-size: 28px;
    padding: 0 16px;
    color: skyblue;
    align-self: center;
  }
  .header .inner .nav-pc a:hover {
    opacity: 0.7;
  }
  .header .inner .nav-sp {
    display: none;
  }
}

.key-visual {
  background-image: url(img/keyboard-338502_1920.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 329px;
  padding-bottom: 115px;
  color: #fff;
  background-attachment: fixed;
}

.key-visual .key-ttl {
  font-size: 3.6rem;
  letter-spacing: 5px;
  line-height: 6.0rem;
  opacity: 0.7;
  margin-left: 30px;
  text-shadow: 4px 4px #2c2b2b;
}

@media screen and (min-width: 900px) {
  .key-visual {
    padding-top: 330px;
    padding-bottom: 180px;
  }
  .key-visual .key-ttl {
    font-size: 4.0rem;
    letter-spacing: 6px;
    margin-left: 100px;
  }
}

.about-wrapper {
  margin: 0 20px;
  text-align: center;
}

.about-wrapper .main-ttl {
  font-size: 3.2rem;
  letter-spacing: 3px;
  padding-bottom: 2px;
  display: inline-block;
  text-align: center;
  margin: 95px 0 60px;
  text-shadow: 5px 5px 1px #cfcccc;
}

.about-wrapper .sec_text {
  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: 2px;
  margin-bottom: 12px;
}

@media screen and (min-width: 900px) {
  .about-wrapper .sec_text {
    width: 800px;
    margin: 0 auto;
  }
}

.works-wrapper {
  margin: 0 20px;
  text-align: center;
}

.works-wrapper .main-ttl {
  font-size: 3.2rem;
  letter-spacing: 3px;
  padding-bottom: 2px;
  display: inline-block;
  text-align: center;
  margin: 95px 0 60px;
  text-shadow: 5px 5px 1px #cfcccc;
}

.works-wrapper .works_section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.works-wrapper .works_section .works-sec {
  background-color: #fff;
  box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.3);
  margin: 20px 0;
  padding: 20px;
  color: #525252;
  text-decoration: none;
}

.works-wrapper .works_section .works-sec .work-img {
  width: 100%;
}

.works-wrapper .works_section .works-sec .sub-ttl {
  font-size: 2.0rem;
  text-align: left;
  margin: 20px 0 10px 0;
  font-weight: normal;
}

.works-wrapper .works_section .works-sec .sec_text {
  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: 2px;
  margin-bottom: 12px;
}

@media screen and (min-width: 900px) {
  .works-wrapper {
    max-width: 1150px;
    margin: 0 auto;
  }
  .works-wrapper .works_section {
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: unset;
    width: 100%;
    margin-bottom: 50px;
  }
  .works-wrapper .works_section .works-sec {
    width: 28%;
  }
}

.news-wrapper {
  margin: 0 20px 30px 20px;
  text-align: center;
}

.news-wrapper .main-ttl {
  font-size: 3.2rem;
  letter-spacing: 3px;
  padding-bottom: 2px;
  display: inline-block;
  text-align: center;
  margin: 95px 0 60px;
  text-shadow: 5px 5px 1px #cfcccc;
}

.news-wrapper .news-list {
  margin-bottom: 30px;
  overflow: visible scroll;
  height: 220px;
  padding: 20px;
}

.news-wrapper .news-list .news {
  width: 98%;
  border-top: 1px solid #525252;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  padding: 12px 10px;
  color: #525252;
}

.news-wrapper .news-list .news .news-top .date {
  display: block;
  font-size: 1.6rem;
}

.news-wrapper .news-list .news .news-bottom {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.news-wrapper .news-list .news .news-bottom .category-news {
  background-color: skyblue;
  padding: 4px;
  color: #525252;
  margin-right: 18px;
  border-radius: 5px;
  font-size: 16px;
}

.news-wrapper .news-list .news .news-bottom .category-topic {
  background-color: #f05e59;
  padding: 4px;
  color: #525252;
  margin-right: 18px;
  border-radius: 5px;
  font-size: 16px;
}

.news-wrapper .news-list .news .news-bottom .title {
  font-size: 1.4rem;
}

.news-wrapper .news-list .news:hover {
  opacity: 0.7;
}

.news-wrapper .news-list .news:last-child {
  border-bottom: 1px solid #525252;
}

.news-wrapper .btn {
  display: inline-block;
  width: 250px;
  border-radius: 25px;
  padding: 17px 0;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  background-color: #c67978;
  transition: .8s;
}

.news-wrapper .btn:hover {
  background-color: #fff;
  border: 1px solid #c67978;
  color: #c67978;
  width: 249px;
  padding: 16px 0;
}

.news-wrapper .sec_text {
  font-size: 1.6rem;
  line-height: 2.8rem;
  letter-spacing: 2px;
  margin-bottom: 12px;
}

@media screen and (min-width: 900px) {
  .news-wrapper {
    max-width: 1150px;
    margin: 0 auto;
  }
  .news-wrapper .btn {
    margin-top: 50px;
  }
}

.contact-wrapper {
  margin: 0 20px;
}

.contact-wrapper .contact-ttl {
  width: 100%;
  text-align: center;
}

.contact-wrapper .contact-ttl .main-ttl {
  font-size: 3.2rem;
  letter-spacing: 3px;
  padding-bottom: 2px;
  display: inline-block;
  text-align: center;
  margin: 95px 0 60px;
  text-shadow: 5px 5px 1px #cfcccc;
}

.contact-wrapper .label {
  font-size: 1.8rem;
  display: block;
  width: 100%;
  margin-bottom: 18px;
}

.contact-wrapper .label .input {
  width: 94%;
  padding: 10px;
}

.contact-wrapper .label .contact-name {
  display: inline-block;
  width: 110px;
  letter-spacing: 2px;
  margin-bottom: 8px;
}

.contact-wrapper .message {
  display: inline-block;
  width: 110px;
  letter-spacing: 2px;
  margin-bottom: 8px;
  font-size: 1.8rem;
}

.contact-wrapper textarea {
  width: 97%;
  height: 80px;
  margin-bottom: 30px;
}

.contact-wrapper .contact-btn {
  text-align: center;
  margin-bottom: 30px;
}

.contact-wrapper .contact-btn .btn {
  display: inline-block;
  width: 250px;
  border-radius: 25px;
  padding: 17px 0;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  background-color: #c67978;
  transition: .8s;
  border-radius: 2px;
}

.contact-wrapper .contact-btn .btn:hover {
  background-color: #fff;
  border: 1px solid #c67978;
  color: #c67978;
  width: 249px;
  padding: 16px 0;
}

@media screen and (min-width: 900px) {
  .contact-wrapper {
    max-width: 1150px;
    margin: 0 auto;
    width: 700px;
    margin-bottom: 100px;
  }
  .contact-wrapper .btn {
    margin-top: 50px;
  }
}

.footer {
  background-color: #252424;
  color: #fff;
  padding: 14px 0;
}

.footer .inner {
  margin: 0 20px;
}

.footer .inner .footer-nav li {
  padding: 10px 0;
}

.footer .inner .footer-nav li a {
  text-decoration: none;
  color: #fff;
  font-size: 2.0rem;
}

.footer .inner .footer-nav li a:hover {
  opacity: 0.7;
}

.footer .inner p {
  text-align: center;
  font-size: 1.4rem;
}

@media screen and (min-width: 1200px) {
  .footer .inner {
    max-width: 1150px;
    margin: 0 auto;
  }
}
